.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.body {
  background-color: #fff;
  font-family: Inter, sans-serif;
  color: #1a1a1a;
  font-size: 10px;
  font-weight: 600;
}

.overlay-link {
  position: relative;
  padding-top: 4px;
  color: #1a1a1a;
  font-size: 1.6em;
  line-height: 8px;
  font-weight: 500;
  letter-spacing: 0px;
  text-decoration: none;
  cursor: pointer;
}

.overlay-link.top-left {
  position: fixed;
  left: 4%;
  top: 5%;
  right: auto;
  bottom: auto;
  z-index: 1;
}

.overlay-link.top-left.w--current {
  font-size: 1.6em;
}

.overlay-socials {
  position: fixed;
  left: 4%;
  top: auto;
  right: auto;
  bottom: 5%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.overlay-divider {
  width: 40px;
  height: 2px;
  margin: 0px 3px 3px;
  background-color: #1a1a1a;
}

.content {
  position: relative;
  display: block;
  width: 80%;
  margin-top: 160px;
  margin-bottom: 160px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  -webkit-transform: perspective(1000px);
  transform: perspective(1000px);
}

.content.first {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 160px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.content.about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content.references {
  margin-top: 0px;
  margin-bottom: 10px;
}

.heading {
  max-width: 45%;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 4.8em;
  line-height: 90%;
  font-weight: 700;
  letter-spacing: -0.03em;
  text-transform: none;
}

.heading.bio {
  margin-bottom: 8px;
  font-size: 6.4em;
  letter-spacing: -0.03em;
}

.secondary {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 0px;
  opacity: 0.7;
  font-size: 1.4em;
  font-weight: 600;
  text-transform: none;
}

.secondary.bio {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.big-text {
  max-width: 50%;
  margin-top: 16px;
  margin-bottom: 0px;
  opacity: 0.9;
  font-size: 1.8em;
  line-height: 150%;
  font-weight: 400;
}

.big-text.bio {
  max-width: 600px;
}

.mockup {
  position: absolute;
  left: auto;
  top: 0%;
  right: -5%;
  bottom: 0%;
  z-index: -1;
  width: 50%;
  margin: auto;
}

.not-mockup.me {
  position: relative;
  display: inline-block;
}

.overlay-darkmode {
  position: fixed;
  left: auto;
  top: 5%;
  right: 4%;
  bottom: auto;
  z-index: 1;
  cursor: pointer;
}

.darkmode {
  position: static;
  left: auto;
  top: 5%;
  right: 4%;
  bottom: auto;
  display: inline-block;
  width: auto;
  height: 24px;
}

.darkmode.moon {
  display: inline-block;
}

.darkmode.sun {
  position: absolute;
  opacity: 0;
}

.button {
  position: static;
  left: 6px;
  top: auto;
  right: auto;
  bottom: 10px;
  margin-top: 24px;
  margin-right: 16px;
  padding: 8px 40px;
  border-style: solid;
  border-width: 1.5px;
  border-color: #1a1a1a;
  background-color: #fff;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #1a1a1a;
  font-size: 1.4em;
  font-weight: 600;
}

.button:active {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.colorblock {
  position: absolute;
  left: -6%;
  top: -21%;
  right: auto;
  bottom: auto;
  z-index: -2;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #d6d6d6;
}

.colorblock.sdk {
  background-color: #5c91fc;
}

.colorblock.cca {
  background-color: #fcc75c;
}

.colorblock.fw {
  background-color: #fc615c;
}

.social-underline {
  width: 0px;
  height: 2px;
  background-color: #1a1a1a;
}

.main {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0%;
  padding-bottom: 11%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 4em;
  line-height: 100%;
  font-weight: 600;
  letter-spacing: -1px;
}

.heading-2.background {
  margin-top: 32px;
  margin-bottom: 24px;
}

.paragraph {
  max-width: 880px;
  margin-bottom: 32px;
  opacity: 0.9;
  font-size: 1.8em;
  line-height: 140%;
  font-weight: 400;
}

.link {
  color: #1a1a1a;
  font-weight: 600;
}

.article {
  position: relative;
  width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.landing {
  position: relative;
  width: 80%;
  margin-top: 160px;
  margin-bottom: 7%;
}

.heading-3 {
  margin-top: 56px;
  margin-bottom: 16px;
  opacity: 0.7;
  color: #4d4d4d;
  font-size: 2.4em;
  font-weight: 500;
  letter-spacing: -0.5px;
  text-transform: none;
}

.heading-3.background {
  margin-top: 0px;
}

.image {
  display: block;
  max-width: 80%;
  margin-right: auto;
  margin-bottom: 32px;
  margin-left: auto;
}

.my-photo {
  max-height: 100%;
  max-width: 175px;
  margin-right: 24px;
  border-radius: 80px;
}

.side-by-side {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style-type: none;
}

.cs-img {
  width: 49%;
}

.caption {
  margin-top: 16px;
  margin-bottom: 32px;
  color: #4d4d4d;
  font-size: 1.4em;
  line-height: 120%;
  font-weight: 400;
}

.shadow {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

.paper-doc {
  display: block;
  width: 50%;
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
}

.visuals {
  position: relative;
  width: 80%;
  margin-top: 120px;
  margin-bottom: 120px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.drib {
  border: 8px solid #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.another-photo {
  max-width: 290px;
}

.rounded-img {
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
}

.circle-grid-thingy {
  position: absolute;
  left: auto;
  bottom: auto;
  z-index: -1;
}

.circle-grid-thingy.top {
  left: auto;
  top: -1%;
  right: 12%;
  bottom: auto;
  width: 200px;
}

.circle-grid-thingy.left {
  left: -15%;
  top: 20%;
  right: auto;
  bottom: auto;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.circle-grid-square {
  position: absolute;
  left: auto;
  top: auto;
  right: 80px;
  bottom: 80px;
}

.references {
  margin-top: 8px;
  margin-bottom: 0px;
  padding-left: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.references.ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.references.li {
  position: relative;
  width: 30%;
  margin-bottom: 16px;
}

.reference {
  padding: 8px;
  border-radius: 8px;
  background-color: #efefef;
}

.quote {
  margin-bottom: 0px;
  color: #1a1a1a;
  font-size: 1.6em;
  line-height: 140%;
  font-weight: 400;
}

.quotes {
  position: absolute;
  left: 12px;
  top: 8px;
  right: auto;
  bottom: auto;
  display: inline-block;
  font-family: Oswald, sans-serif;
  color: #915cfc;
  font-size: 4.8em;
  line-height: 100%;
  font-weight: 700;
}

.quote-wrapper {
  position: relative;
  padding: 16px 48px;
  border-radius: 8px;
  background-color: #e6e6e6;
}

.quotee {
  display: inline-block;
  margin-top: 8px;
  margin-left: 8px;
  color: #4d4d4d;
  font-size: 1.4em;
  line-height: 100%;
  font-weight: 400;
  text-decoration: none;
}

.by-the-numbers {
  margin-top: 15px;
  grid-column-gap: 24px;
  grid-row-gap: 32px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.logo-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  margin-right: auto;
  margin-bottom: 64px;
  margin-left: auto;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style-type: none;
}

.logos {
  max-height: 64px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: -webkit-filter 200ms ease-in-out;
  transition: -webkit-filter 200ms ease-in-out;
  transition: filter 200ms ease-in-out;
  transition: filter 200ms ease-in-out, -webkit-filter 200ms ease-in-out;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .body {
    font-size: 10px;
  }
  .content {
    display: block;
    margin-top: 10%;
    margin-bottom: 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .content.first {
    margin-top: 160px;
  }
  .heading {
    max-width: 100%;
  }
  .heading.bio {
    max-width: 100%;
  }
  .big-text {
    max-width: 100%;
  }
  .mockup {
    position: static;
    display: none;
    width: auto;
  }
  .colorblock {
    left: -10%;
    top: -15%;
    width: 100px;
    height: 100px;
  }
  .main {
    padding-bottom: 25%;
  }
  .landing {
    margin-top: 30%;
    margin-bottom: 20%;
  }
  .visuals {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .another-photo {
    display: none;
  }
  .circle-grid-thingy.top {
    top: -3%;
  }
  .references.li {
    width: 48%;
  }
  .by-the-numbers {
    margin-top: 24px;
  }
  .logo-container {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .body {
    font-size: 9px;
  }
  .overlay-link {
    font-size: 1.8em;
  }
  .overlay-link.top-left.w--current {
    font-size: 1.8em;
  }
  .overlay-divider {
    width: 40px;
    margin-top: -7px;
  }
  .secondary {
    font-size: 1.4em;
  }
  .secondary.bio {
    font-size: 1.8em;
  }
  .big-text {
    line-height: 140%;
  }
  .big-text.bio {
    line-height: 140%;
  }
  .button {
    font-size: 1.6em;
  }
  .main {
    padding-bottom: 20%;
  }
  .paragraph {
    font-size: 1.8em;
    line-height: 140%;
  }
  .image {
    max-width: 100%;
  }
  .my-photo {
    display: none;
  }
  .side-by-side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .cs-img {
    width: 100%;
    margin-bottom: 8px;
  }
  .visuals {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .circle-grid-square {
    right: 20px;
    bottom: 20px;
    z-index: -1;
    width: 100px;
  }
  .references.li {
    width: 100%;
    margin-bottom: 8px;
  }
  .by-the-numbers {
    grid-row-gap: 22px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .logo-container {
    width: 60%;
  }
}

@media (max-width: 479px) {
  .overlay-link {
    font-size: 1.8em;
  }
  .overlay-link.top-left {
    left: 8%;
  }
  .overlay-link.top-left.w--current {
    left: 8%;
    font-size: 1.6em;
  }
  .overlay-socials {
    left: 8%;
    bottom: 3%;
    width: 60%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .overlay-divider {
    width: 8px;
    margin-right: 2px;
    margin-left: 2px;
  }
  .content {
    margin-top: 15%;
    margin-bottom: 15%;
  }
  .heading {
    font-size: 3.9em;
  }
  .heading.bio {
    font-size: 4.8em;
  }
  .secondary {
    margin-top: 8px;
  }
  .big-text {
    margin-top: 8px;
    line-height: 140%;
  }
  .overlay-darkmode {
    right: 8%;
    width: 20px;
  }
  .button {
    width: 100%;
    margin-top: 24px;
    margin-right: 0px;
    text-align: center;
  }
  .button.bottom {
    margin-top: 8px;
  }
  .colorblock {
    left: -25%;
    top: -15%;
  }
  .main {
    padding-top: 0vh;
    padding-bottom: 32%;
  }
  .heading-2 {
    margin-bottom: 16px;
    font-size: 4em;
  }
  .heading-3 {
    letter-spacing: -1.5px;
  }
  .circle-grid-thingy.top {
    top: -1%;
    right: -10%;
    display: none;
    width: 140px;
  }
  .logo-container {
    width: 80%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .logos {
    max-height: 48px;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Thin-BETA.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ThinItalic-BETA.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ExtraLightItalic-BETA.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Light-BETA.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ExtraBoldItalic.otf') format('opentype'), url('../fonts/Inter-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ExtraBold.otf') format('opentype'), url('../fonts/Inter-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ExtraLight-BETA.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-LightItalic-BETA.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}