@import url(reset.css);

:root {
    --black: #434138;
    --white: #DCD8C5;
    --grey: #656563;
    --border-color: var(--black);
    --border-width: 1.5px;
    --border-offset: calc(var(--border-width)/2);
    --font-primary: 'Inter';
    --font-weight-normal: 380;
    --font-weight-heavy: 720;
    --text-size-body: clamp(1.8rem, 1vw + 1rem, 2rem);
    --text-size-large: clamp(2.4rem, 2vw + 1rem, 4rem);
    --line-height-body: 140%;
    --line-height-large: 125%;
    --background-primary: var(--white);
    --background-secondary: var(--black);
    --text-color-primary: var(--black);
    --text-color-secondary: var(--grey);
}

@supports (font-variation-settings: normal) {
    :root {
        --font-primary: 'Inter var';
        font-feature-settings: "calt", "zero", "ss03", "cv01", "cv02", "cv03", "cv04", "cv05", "cv06", "cv09";
    }
}

html {
    font-size: 62.5%;
    background: var(--background-secondary);
    font-family: var(--font-primary), -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    color: var(--text-color-primary);
}

body {
    font-size: var(--text-size-body);
    font-variation-settings: 'wght' var(--font-weight-normal);
    line-height: var(--line-height-body);
    letter-spacing: -.2px;
}

a {
    color: var(--text-color-secondary);
    transition: color .1s ease-out;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    text-decoration-skip-ink: auto;
    
}

a:hover {
    color: var(--text-color-primary);
    transition: color .1s ease-in;
}

em {
    font-style: oblique;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: var(--border-width) solid var(--border-color);
    background-color: var(--background-primary);
    background-color: var(--background-primary);
    position: sticky;
    top: 0;
    padding: 0 16px;
    z-index: 1;
    background-color: var(--background-primary);
}

nav a {
    color: var(--text-color-primary);
    text-decoration: none;
    margin: 12px 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--border-width);
}

.about {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    font-size: var(--text-size-large);
    line-height: var(--line-height-large);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
}

#hero .me {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 100%;
    background-image: url(img/headshot-mono.jpg);
    background-position: center center;
    background-size: cover;
}

.me::before {
    content: '';
    display: inline-block;
    padding-bottom: 100%;
}

.availability {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 16px 16px 16px 32px;
    display: flex;
    gap: 10px;
    position: relative;
}

.availability::before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    border: var(--border-width) solid var(--grey);
    border-radius: 3px;
    left: 20px;
    top: 24px;
}

.grid, #hero {
    display: grid;
    gap: var(--border-width);
}

.grid > div, #hero > div {
    position: relative;
}

.grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: calc(15vw + 24px);
    grid-auto-flow: dense;
}

.grid div {
    padding: 16px;
    background: var(--background-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid div p:first-of-type {
    color: var(--text-color-secondary);
}

.header {
    grid-column: span 4;
}

#hero {
    grid-template-columns: auto 35vw;
    grid-template-rows: auto auto;
    background: var(--background-secondary);
}

#hero div {
    background: var(--background-primary);
}

#design .item:nth-of-type(2) {
    grid-column: span 2;
}

#design .item:nth-of-type(5), #design .item:nth-of-type(6) {
    grid-row: 2 / span 2;
}

#dev {
    grid-template-columns: repeat(3, 1fr);
}

#photo .item {
    grid-row: span 2;
    padding: 0;
}

#photo .item a {
    padding: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: var(--text-color-primary);
}

#photo .item a:hover > * {
    color: var(--white) !important;
}

#ny a:hover {
    background: url(img/nyny.jpg);
    background-size: cover;
    background-position: 60% center;
}

#untitled a:hover {
    background: url(img/untitled.jpg);
    background-size: cover;
    background-position: center center;
}

#genial a:hover {
    background: url(img/genial.jpg);
    background-size: cover;
    background-position: center center;
}

#wiggle a:hover {
    background: url(img/wiggle.jpg);
    background-size: cover;
    background-position: center bottom;
}

footer {
    padding: 16px;
    color: var(--white);
    text-align: center;
}

footer a {
    color: var(--white);
}

footer a:hover {
    color: var(--white);
}

::selection {
    background: var(--background-secondary);
    color: var(--white);
}

footer ::selection {
    background: var(--background-primary);
    color: var(--text-color-primary);
}

@media screen and (max-width: 1100px) {
    #design .item:nth-of-type(5), #design .item:nth-of-type(6){
        grid-column: span 2;
        grid-row: span 1;
    }

    #design .item:nth-of-type(3) {
        grid-column: span 4;
    }

    #design .item:nth-of-type(4) {
        grid-column: span 2;
    }
}

@media screen and (max-width: 800px) {
    #design .item {
        grid-column: span 4 !important;
    }

    #dev .item {
        grid-column: span 3;
    }

    #photo .item {
        grid-column: span 2;
    }
}

@media screen and (max-width: 585px) {
    .grid {
        grid-auto-rows: auto;
    }

    #hero {
        grid-template-columns: 1fr;
    }

    .about {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
    }

    .me, .availability {
        display: none;
    }

    #photo {
        grid-auto-rows: 18vh;
    }
}